<launch>

	<!-- Launch Task-4 Simulation Environment in Gazebo -->
	<include file="$(find pkg_vb_sim)/launch/task4_simulation.launch" />

	<!-- Launch Moveit Group Node -->
	<!--<include file="$(find pkg_vb_sim)/launch/two_ur5_move_group.launch" />-->

	<group ns="ur5_1">
    <!-- <rosparam command="load" file="$(find pkg_moveit_ur5)/config/joint_names.yaml" /> -->

    <include file="$(find pkg_moveit_ur5_1_config)/launch/planning_context.launch">
      <arg name="load_robot_description" value="true"/>
    </include>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="/use_gui" value="false"/>
      <rosparam param="/source_list">[/joint_states]</rosparam>
    </node>

    <include file="$(find pkg_moveit_ur5_1_config)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true"/>
    </include>
    <include file="$(find pkg_moveit_ur5_1_config)/launch/moveit_rviz_robot1.launch">
      <arg name="config" value="true"/>
    </include>

    <!-- Add Conveyor-belt and bins to Moveit! Planning Scene in RViz -->
    <arg name="scene_file" default="$(find pkg_task4)/config/rviz/task4_ur5_1.scene"/> 
    <node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>
  </group>


  <group ns="ur5_2">
    <!-- <rosparam command="load" file="$(find pkg_moveit_ur5)/config/joint_names.yaml" /> -->

    <include file="$(find pkg_moveit_ur5_2_config)/launch/planning_context.launch">
      <arg name="load_robot_description" value="true"/>
    </include>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="/use_gui" value="false"/>
      <rosparam param="/source_list">[/joint_states]</rosparam>
    </node>

    <include file="$(find pkg_moveit_ur5_2_config)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true"/>
    </include>
    <include file="$(find pkg_moveit_ur5_2_config)/launch/moveit_rviz_robot2.launch">
      <arg name="config" value="true"/>
    </include>
    <arg name="scene_file" default="$(find pkg_task4)/config/rviz/task4_ur5_2.scene"/> 
    <node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>
  </group>

</launch>

